.myhead {
	width: 100%;
	height: 60px;
	border: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px auto;
	background-color: #3D4047;
	background-repeat: no-repeat;
}
h1{
color: transparent;
-webkit-text-stroke: 1px black;
letter-spacing: 0.04em;
font-family: Arial;
	color: white;
	font-size: 30px;
 }
.myleft {
	width: 16.2%;
	height: 100%;
	border: 0;
	position: absolute;
	top: 60px;
	left: 0px;
	/*background-color: green;*/
	background: rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	background-repeat: no-repeat;
}
.container {
	max-width: 200px;
	background: rgba(0, 0, 0, 0.75);
	margin: 40px auto;
	padding: 10px 0px 20px 0px;
	border: 1px solid #111;
	border-radius: 4px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
}

.link {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	position: relative;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	overflow: hidden;
	width: 90%;
	margin-left: 5%;
	cursor: pointer;
}

.link:after {
	content: '';
	position: absolute;
	width: 80%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	bottom: 50%;
	left: -100%;
	transition-delay: all 0.5s;
	transition: all 0.5s;
}
/* .link:hover:after,
.link.hover:after{
   left:100%;
} */
.link .text {
	text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
	transition: all 0.75s;
	transform: translateY(100%) translateZ(0);
	/*  transition-delay:all 0.25s; */
}

.link:hover .text, .link.hover .text {
	text-shadow: 0px -40px 0px rgba(255, 255, 255, 0);
	transform: translateY(0%) translateZ(0) scale(1.1);
	font-weight: 600;
}

.a1 {
	color: yellow;
	text-decoration: none;
}

.myright {
	width: 83.8%;
	height: 100%;
	border: 0;
	position: absolute;
	top: 60px;
	left: 16.2%;
	background-color:#DDDDDD;
	margin: 0px auto;
	background-repeat: no-repeat;
}


.basic-grey {
	/*margin-left: auto;
	margin-right: auto;*/
	margin:2% auto 0 10%;
	max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

.basic-grey h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;;
	color: #888;
}

.basic-grey h1>span {
	display: block;
	font-size: 11px;
}

.basic-grey label {
	display: block;
	margin: 0px;
}

.basic-grey label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

.basic-grey input[type="text"],.basic-grey input[type="password"], .basic-grey input[type="email"],
	.basic-grey textarea, .basic-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
	padding: 5px 3px 3px 5px;
}

.basic-grey select {
	/* background: #FFF url('down-arrow.png') no-repeat right;
background: #FFF url('down-arrow.png') no-repeat right);
appearance:none;
-webkit-appearance:none;
-moz-appearance: none; */
	text-indent: 0.01px;
	text-overflow: '';
	width: 22%;
	height: 35px;
	line-height: 25px;
}

.basic-grey textarea {
	height: 100px;
}

.basic-grey .button {
	/*background: #E27575;*/
	background:#000000;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}