@CHARSET "UTF-8";

/*公共配置样式*/
*{font-size:9pt;border:0;margin:0;padding:0;}

body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}

ul{display:block;margin:0;padding:0;list-style:none;}

li{display:block;margin:0;padding:0;list-style: none;}

img{border:0;}

dl,dt,dd,span{margin:0;padding:0;display:block;}

a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}

a:hover{color:#00a4ac;text-decoration:none;}

table{border-collapse:collapse;border-spacing: 0;}

cite{font-style:normal;}

h2{font-weight:normal;}

/*cloud*/
#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}

.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/cloud.png) no-repeat;z-index:1;opacity:0.5;}

#cloud2 {z-index:2;}

/*login*/
.logintop{height:47px; position:absolute; top:0; background:url(../images/loginbg1.png) repeat-x;z-index:100; width:100%;}

.logintop span{color:#fff; line-height:47px; background:url(../images/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#afc5d2; float:left;}

.logintop ul{float:right; padding-right:30px;}

.logintop ul li{float:left; margin-left:20px; line-height:47px;}

.logintop ul li a{color:#afc5d2;}

.logintop ul li a:hover{color:#fff;}

.loginbody{background:url(../images/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:27px;}

.systemlogo{background:url(../images/loginlogo.png) no-repeat center;width:100%; height:71px; margin-top:75px;}

.loginbox{width:692px; height:336px; background:url(../images/logininfo.png) no-repeat; margin-top:10px;}

.loginbox ul{margin-top:88px; margin-left:285px;}

.loginbox ul li{margin-bottom:25px;}

.loginbox ul li label{color:#687f92; padding-left:25px;}

.loginbox ul li label a{color:#687f92;}

.loginbox ul li label a:hover{color:#3d96c9;}

.loginbox ul li label input{margin-right:5px;}

.loginuser{width:299px; height:48px; background:url(../images/loginuser.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; font-weight:bold;}

.loginpwd{width:299px; height:48px; background:url(../images/loginpassword.png) no-repeat; border:none;line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc;}

.loginbtn{width:111px;height:35px; background:url(../images/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer; line-height:35px;}

.loginbm{height:50px; line-height:50px; text-align:center; background:url(../images/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#0b3a58;}

.loginbm a{font-weight:bold;color:#0b3a58;}

.loginbm a:hover{color:#fff;}

/*top.jsp*/
.header{height:88px;}

.topleft{height:88px;background:url(../images/topleft.jpg) no-repeat;float:left; width:300px;}

.topleft img{margin-top:12px;margin-left:10px;}

.topright{height:88px;background:url(../images/topright.jpg) no-repeat right;float:right;}

.nav{float:left;}

.nav li{float:left;width:87px;height:88px; text-align:center;}

.nav li a{display:block;width:87px;height:88px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }

.nav li a.selected{background:url(../images/navbg.png) no-repeat;}

.nav li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(43, 127, 181);}

.nav li img{margin-top:10px;}

.nav li a{display:block;}

.nav a h2{font-size:14px;color:#d6e8f1;}

.nav a:hover h2{color:#fff;}

.topright ul{padding-top:15px; float:right; padding-right:12px;}

.topright ul li{float:left; padding-left:9px; padding-right:9px; background:url(../images/line.gif) no-repeat right;}

.topright ul li:last-child{background:none;}

.topright ul li a{font-size:13px; color:#e9f2f7;}

.topright ul li a:hover{color:#fff;}

.topright ul li span{margin-top:2px;float:left;padding-right:3px;}

.user{height:30px;background:url(../images/ub1.png) repeat-x;clear:both;margin-top:10px;float:right; margin-right:12px;border-radius:30px; behavior:url(js/pie.htc); white-space:nowrap;position:relative;}

.user span{display:inline-block;padding-right:10px; background:url(../images/user.png) no-repeat 15px 10px; line-height:30px; font-size:14px;color:#b8ceda; padding-left:20px; padding-left:35px;}

.user b{display:inline-block;width:20px;height:18px; background:url(../images/msg.png);text-align:center; font-weight:normal; color:#fff;font-size:14px;margin-right:13px; margin-top:7px; line-height:18px;}

.user i{display:inline-block;margin-right:5px;font-style:normal;line-height:30px; font-size:14px;color:#b8ceda;}

/*left.jsp*/
.lefttop{background:url(../images/lefttop.gif) repeat-x;height:40px;color:#fff;font-size:14px;line-height:40px;}

.lefttop span{margin-left:8px; margin-top:10px;margin-right:8px; background:url(../images/leftico.png) no-repeat; width:20px; height:21px;float:left;}

.leftmenu{width:187px;padding-bottom: 9999px;margin-bottom: -9999px; overflow:hidden; background:url(../images/leftline.gif) repeat-y right;}

.leftmenu dd{background:url(../images/leftmenubg.gif) repeat-x;line-height:35px;font-weight:bold;font-size:14px;border-right:solid 1px #b7d5df;}

.leftmenu dd span{float:left;margin:10px 8px 0 12px;}

.leftmenu dd .menuson{display:none;}

.leftmenu dd:first-child .menuson{display:block;}

.menuson {line-height:30px; font-weight:normal; }

.menuson li{cursor:pointer;}

.menuson li.active{position:relative; background:url(../images/libg.png) repeat-x; line-height:30px; color:#fff;}

.menuson li cite{display:block; float:left; margin-left:32px; background:url(../images/list.gif) no-repeat; width:16px; height:16px; margin-top:7px;}

.menuson li.active cite{background:url(../images/list1.gif) no-repeat;}

.menuson li.active i{display:block; background:url(../images/sj.png) no-repeat; width:6px; height:11px; position:absolute; right:0;z-index:10000; top:9px; right:-1px;}

.menuson li a{ display:block; *display:inline; *padding-top:5px;}

.menuson li.active a{color:#fff;}

.title{cursor:pointer;}

/*right.jsp*/
.place{height:40px; background:url(../images/righttop.gif) repeat-x;}

.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}

.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}

.placeul li:last-child{background:none;}

.rightinfo{padding:8px;}

.tools{clear:both; height:35px; margin-bottom:8px;}

.toolbar{float:left;}

.toolbar li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}

.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}

.toolbar1{float:right;}

.toolbar1 li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}

.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}

.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}

.tablelist th{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}

.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}

.tablelink{color:#056dae;}

.tablelist tbody tr.odd{background:#f5f8fa;}

.tablelist tbody tr:hover{background:#e5ebee;}

.sort{padding-left:3px;}

/*page 分页*/
.pagin{position:relative;margin-top:10px;padding:0 12px;}

.pagin .blue{color:#056dae;font-style:normal;}

.pagin .paginList{position:absolute;right:12px;top:0;}

.pagin .paginList .paginItem{float:left;}

.pagin .paginList .paginItem a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;}

.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}

.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}

.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}

.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5; cursor:default;color:#737373;}

.pagin .paginList .paginItem:hover{background:#f5f5f5;}

.pagin .paginList .paginItem.more,.pagin .paginList .paginItem.more a:hover{ cursor:default;}

.pagin .paginList .paginItem.more:hover{background:#FFF;}

.pagin .paginList .paginItem.more a{color:#737373;}

.pagepre{background:url(../images/pre.gif) no-repeat center center; width:31px; height:28px;}

.pagenxt{background:url(../images/next.gif) no-repeat center center; width:31px; height:28px;}

/*tip 自定义提示框*/
.tip{width:485px; height:260px; position:absolute;top:10%; left:30%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}

.tiptop{height:40px; line-height:40px; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}

.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}

.tiptop a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}

.tiptop a:hover{background:url(../images/close1.png) no-repeat;}

.tipinfo{padding-top:30px;margin-left:65px; height:95px;}

.tipinfo span{width:95px; height:95px;float:left;}

.tipright{float:left;padding-top:15px; padding-left:10px;}

.tipright p{font-size:14px; font-weight:bold; line-height:35px;}

.tipright cite{color:#858686;}

.tipbtn{margin-top:25px; margin-left:125px;}

.sure ,.cancel{width:96px; height:35px; line-height:35px; color:#fff; background:url(../images/btnbg1.png) repeat-x; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}

.cancel{background:url(../images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}


